.categories a {
    text-decoration: none;
    font-size: 'Dosis';
    text-transform: uppercase;
    text-align: center;
    margin: 0 1em 0.5em;
    padding: 1em;
    background: darkmagenta;
    color: white;

}
.categories {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 256px;
}

.categories a:hover {
    box-shadow: 0 2px 5px -2px black;
    background: #230;
}

