.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem 0.5rem;
    font-family: 'Dorsis', sans-serif;
    justify-content: center;
    min-height: 48px;
}
.footer section {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    flex-shrink: 1;

}
.footer section:last-child {
    margin-right: 0;

}
.footer h2 {
    color: white;
    border-bottom: white;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
    font-size: smaller;
    letter-spacing: 2px;
}
.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: .5rem;
    align-self: flex-start;
    font-size: 0.5rem;
    
}
.footer a:hover {
    border-bottom: 1px solid white;
    margin-bottom: calc(.5em - 1px);
}