.items {
    display: flex;
    font-family: open sans-serif;
    align-items: flex-start;
    flex-grow: 1;
    padding: 1rem 0;
    flex-direction: column;
    flex-wrap: wrap;

}
.item {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 1rem 0;
    margin-bottom: 0 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px -2px black;

}
.item-name {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: black;

}
.add-item {
    background-color: darkmagenta;
    color: whitesmoke;
    border-radius: 50%;
    padding: 6px;
    font-size: 16px;
}
.fact-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
}
.item-description {
    padding: 0.25rem;
}
.fact-line {
    padding: 0.25rem 0.5rem;
}
.fact-name {
    font-weight: bold;
    margin-right: .6rem;
}
@media (max-width: 768px) {
    .items {
        flex-direction: column;
        padding-right: 1rem;
        width: 100%;
    }
}
.item {
    width: 100%;

}
.item-image {
    width: 100%;
}

